name: Build Resume
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Typst
        uses: lvignoli/typst-action@main
        with:
          source_file: modern-cv/resume.typ

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: "*.pdf"
      
      - name: Get current date
        id: date
        run: echo "DATE=$(date +%Y-%m-%d-%H:%M)" >> $GITHUB_ENV

      - name: Release
        uses: softprops/action-gh-release@v1
        if: github.ref_type == 'tag'
        with:
          name: "${{ github.ref_name }} - ${{ env.DATE }}"
          files: resume.pdf
